#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
li {
  list-style: none;
}
/* 
.nftUl {
  align-items: flex-start;
  background-color: initial;
  border-radius: initial;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: -1%;
  opacity: 1;
  padding: 0;
  position: relative;
}

.nftLi_div {
  background-color: #2f303a;
  border: 1px solid #383846;
  border-radius: 12px;
  box-shadow: 0 2px 0 0 #383846;
  display: block;
  overflow: hidden;
  width: 100%;
}
.nftLi_div .imb_bx {
  align-items: center;
  border-radius: 6px;
  display: flex;
  font-size: 0;
  height: 100%;
  justify-content: center;
  line-height: 0;
  margin: 10px;
  overflow: hidden;
}

.imb_bx .img_conts {
  border-radius: 6px;
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: all 0.25s linear;
  width: 100%;
}

.nftLi_div .nft_price {
  border-bottom: 1px solid #383846;
  padding: 5px 14px 15px;
}

.nft_price > span {
  color: #9a6aff;
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.coin_info_bx {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.coin_info_bx .price_bx {
  font-size: 16px;
  font-weight: 700;
}

.coin_info_bx .price_bx {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
}

.li {
  display: inline-block;
  margin-bottom: 25px;
  margin-left: 1%;
  position: relative;
  vertical-align: top;
  width: 33%;
}

.nftLi_div2 {
  border-radius: 0 0 12px 12px;
  bottom: -2px;
  font-size: 14px;
  height: 40px;
  left: 0;
  overflow: hidden;
  position: absolute;
  visibility: visible;
  width: 100%;
}

.nftLi_div2 button {
  background-color: #42444d;
  border: 1px solid #42444d;
  border-radius: initial;
  text-align: center;
  color: #fff;
} */

.market_list_more {
  position: relative;
  padding-bottom: 25px;
}

.nodata_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 80px 0 70px;
  font-size: 16px;
  font-weight: 700;
  color: #70717b;
  border-radius: 10px;
  background-color: #222430;
}

.nodata_item i {
  display: block;
  margin: 15px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 112px;
  background-image: url("../images/no-data-v-2.png");
  image-rendering: -webkit-optimize-contrast;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.market_list_wrp {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: -1%;
}

.market_list_wrp li {
  position: relative;
  display: inline-block;
  width: 24%;
  margin-left: 1%;
  margin-bottom: 25px;
  vertical-align: top;
}

.market_list_wrp li a,
.nft_bx_sty {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 2px 0 0 #383846;
  border: solid 1px #383846;
  background-color: #2f303a;
}

.market_list_wrp li a:hover {
  box-shadow: rgb(0 0 0 / 15%) 0px 6px 25px;
  transition: all 0.1s ease 2s;
}

.market_list_wrp .imb_bx {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 10px;
  border-radius: 6px;
  font-size: 0;
  line-height: 0;
  /* background-color: #000; */
  overflow: hidden;
}

.market_list_wrp .imb_bx .img_conts {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
  transition: all 0.25s linear;
}

.market_list_wrp li:hover button .img_conts {
  transform: scale(1.06) translateY(0);
  transform-origin: center;
}

.market_list_wrp li .game_owner {
  position: relative;
  padding: 15px 14px 10px 14px;
  font-size: 12px;
  font-weight: 600;
  color: #8a949c;
}

.market_list_wrp li .game_owner strong {
  display: block;
  width: 100%;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  word-break: break-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.market_list_wrp li .game_owner .nft_state_view {
  position: absolute;
  right: 10px;
  top: 0;
  padding: 4px 6px 3px 7px;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
}

.mint .nft_state_view {
  border: solid 1px #e9508c;
  background-color: #fa59a0;
}

.sale .nft_state_view {
  border: solid 1px #35c2de;
  background-color: #35c2de;
}

.onsale .nft_state_view {
  border: solid 1px #8a73ff;
  background-color: #8a73ff;
}

.purchased .nft_state_view {
  border: solid 1px #ff433e;
  background-color: #fc433e;
}

.resale .nft_state_view {
  border: solid 1px #8a73ff;
  background-color: #8a73ff;
}

.market_list_wrp li .nft_price {
  padding: 5px 14px 15px 14px;
  border-bottom: 1px solid #383846;
}

.market_list_wrp li .nft_price > span {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #9a6aff;
}

.market_list_wrp li .nft_price .coin_info_bx {
  justify-content: left;
}

.market_list_wrp li .nft_price .coin_info_bx .icon_mark {
  width: 20px;
}

.market_list_wrp li .nft_price .coin_info_bx .price_bx {
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.market_list_wrp li .nft_price .coin_info_bx .price_bx span {
  font-size: 11px;
}

.market_list_wrp li .nft_price .coin_info_bx .last {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  font-weight: 500;
  color: #8a949c;
}

.market_list_wrp li .nft_price .coin_info_bx .last strong {
  color: #fcfcfc;
  font-weight: 700;
}

.market_list_wrp li .nft_owner {
  padding: 15px 14px;
  font-size: 11px;
  font-weight: 400;
  color: #8a949c;
}

.market_list_wrp li .nft_owner strong {
  font-weight: 600;
  color: #15c5ce;
}

.market_list_wrp li button + .btn_buynow {
  left: 0px;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  line-height: 44px;
  visibility: hidden;
  text-align: center;
  cursor: pointer;
  background-color: #8a73ff;
  box-shadow: 0px 2px 0 0 #8a73ff;
  border: solid 1px #8a73ff;
  transition: all 0.25s ease-in-out 0s;
  overflow: hidden;
}

.market_list_wrp li:hover button + .btn_buynow {
  left: 0px;
  width: 100%;
  height: 46px;
  font-size: 14px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  bottom: 0;
  visibility: visible;
  border-radius: 0 0 12px 12px;
  box-shadow: 0px 2px 0 0 #8a73ff;
  border: solid 1px #8a73ff;
  background-color: #8a73ff;
}

.market_list_wrp li .nft_bx_sty + .btn_nft_state {
  left: 0px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  position: absolute;
  bottom: -2px;
  visibility: visible;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}

.achiev_mint {
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -2%;
  margin-top: 20px;
  padding-bottom: 45px;
}

.achiev_mint li {
  margin-left: 2%;
}

.achiev_mint li .game_owner {
  height: 70px;
  padding-bottom: 20px;
  color: #797a7f;
  font-size: 14px;
  font-weight: 700;
}

.btn_nft_state button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  line-height: 40px;
}

.btn_nft_state button i {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 8px 2px 0;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.mint .btn_nft_state {
  box-shadow: 0px 2px 0 0 #42444d;
}

.mint .btn_nft_state button {
  border: solid 1px #42444d;
  background-color: #42444d;
  border-radius: initial;
  text-align: center;
}

.mint .btn_nft_state button i {
  background-image: url(../images/icon-mint.svg);
}

.sale .btn_nft_state,
.purchased .btn_nft_state {
  box-shadow: 0px 2px 0 0 #42444d;
}

.sale .btn_nft_state button,
.purchased .btn_nft_state button {
  border: solid 1px #42444d;
  background-color: #42444d;
  border-radius: initial;
  text-align: center;
}

.sale .btn_nft_state button .material-icons,
.purchased .btn_nft_state button .material-icons {
  margin-right: 8px;
  margin-bottom: 2px;
  font-size: 20px;
  vertical-align: middle;
}

.market_list_wrp li.purchased .nft_price > span {
  color: #b4bccb;
}

.onsale .btn_nft_state,
.resale .btn_nft_state {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.onsale .btn_nft_state button,
.resale .btn_nft_state button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #373941;
  border-radius: initial;
  text-align: center;
}

.onsale .btn_nft_state button:first-child,
.resale .btn_nft_state button:first-child {
  border-right: 1px solid #2f303a;
  background-color: #42444d;
}
